extends layout

block content

    h1 Add Article

    form(method='POST' action='/article/add')
        div.form-group
            label(for='title') Title:
            input.form-control(type='text', name='title')
        div.form-group
            label(for='price') Price:
            input.form-control(type='text' name='price')
        div.form-group
            label(for='description') Description:
            input.form-control(type='text' name='description')
            button.btn.btn-primary(type='submit') Add
