extends layout

block content

    h1 #{articles.title}
    <p> Price: #{articles.price} $
    <p> Description: #{articles.description}
    form(method='GET' action='/')
          button.btn.btn-primary(type='submit') Back